html, body {
    margin: 0px;
    height: 100vh;
}
button {
    width: 5rem;
    height: 2rem;
    font-size: 20px;
    background-color: rgb(14, 15, 29);
    color:whitesmoke;
    border-radius: 0.5rem;
    cursor: pointer;
}
.app__wrapper {
    display: flex;
    height: 100vh;
}
.formContainer{
 overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
    } 

.form {
    display: flex;
    flex-direction: column;
}
#about {
    
}