
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 19px;
    letter-spacing: 2px;
}
h3 {
   font-size: 12px;
}
p, li {
    font-size: 11px
}
ul {
    margin: 5px;
}
.cv {
    display: flex;
    aspect-ratio: 1 / 1.41;
    border: 1px solid darkgray;
    box-shadow: 5px 3px 8px 4px darkgray;
    transform: scale(95%);
    max-height: 63rem;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 34%;
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: whitesmoke
}

.rightColumn {
    width: 67%;
    padding: 5% 0px 5% 2%;
}
.education__container p{
    margin-top: 1px;
}
.education__container h3{
    margin-bottom: 2px;
}
.contact p {
    color: rgb(172, 167, 167);
    font-weight: 900;
}
.trashIcon {
    position: absolute;
    height: 20px;
    right: 3.5rem;
    margin-top: -2.2rem;
    cursor: pointer;
    transition: 0.3s;
}
.trashIcon:hover {
    transform: scale(1.5);
}