.mainContainer {
    margin: 3rem 2.5rem 3rem 2.5rem;
}

.sectionTitle {
    font-family: 'Roboto', sans-serif;
}

.contentContainer {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}
