.skillContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}
.skillColumn {
    width: 30%;
}
.skillColumn p{
    margin: 1px;
}
.skillBar {
    width:65%;
}
.blackBar {
    background-color: black;
    min-height: 0.5rem;
    margin-top: -0.5rem;
}

.grayBar {
    background-color: lightgray;
    width:100%;
    min-height: 0.5rem;
}